.productContainer {
  max-width: 200px;
  cursor: pointer;
}
.productImage {
  width: 100%;
  height: 200px;
}
.productImage img {
  width: 100%;
  height: 100%;
}

.productContainer h3 {
  margin: 10px 0 0;
}

.productInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productInfo p {
  font-size: 0.9rem;
  margin: 7px 0 0;
}
