.journeyHeading {
  width: 100%;
  height: 40vh;
  background-image: url("../assets/grasspic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.journeyHeading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.1;
}

.journeyHeading h1 {
  position: relative;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 10px;
  font-weight: normal;
}

.journeyContent {
  background-color: black;
  padding: 2rem;
}

.journeyContent h2,
.journeyContent p {
  margin: 0;
  color: #fff;
}
.journeyContent h2 {
  padding-top: 20px;
}
.journeyContent p {
  margin-top: 10px;
}
