@font-face {
  font-family: "Product";
  src: url(/src/assets/fonts/Product_Sans.ttf);
}

body {
  margin: 0;
  font-family: "Product";
  color: black;
}

.wrapperWidth {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.greybg {
  background-image: url("/src/assets/grey-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
